<div class="card m-3">
  <h1 class="card-header h5 text-gray-900 mb-4">Perfil de Usuario</h1>
  <div class="card-body">
    <form [formGroup]="perfilForm" (ngSubmit)="actualizarPerfil()" >
      <div class="form-group">
        <label>Usuario</label>
        <input type="text" 
                formControlName="usuario" 
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }">
        <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
          <div *ngIf="f.usuario.errors.required">El usuario es requerido</div>
          <div *ngIf="f.usuario.errors.minlength">El usuario debe tener al menos 4 caracteres</div>
        </div>
      </div>
      <div class="form-group">
        <label>Perfil</label>
        <select formControlName="idPerfil" 
                [ngClass]="{ 'is-invalid': submitted && f.idPerfil.errors }"
                class="form-control">
          <option *ngFor="let item of perfiles" value="item.idPerfil">{{ item.perfil }}</option>
        </select>
        <div *ngIf="submitted && f.idPerfil.errors" class="invalid-feedback">
          <div *ngIf="f.idPerfil.errors.required">Selecciona un perfil</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" 
                formControlName="email" 
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                class="form-control">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.email">Email incorrecto</div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Guardar</button>
        <button class="btn btn-secondary" type="reset" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

