<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Catálogo de Clientes</h6>
    </div>
    <div class="card-body">
        <input type="button" 
               value="Nuevo Cliente" 
               (click)="AgregarClick()"
               class="btn btn-primary">
        <dx-data-grid #targetGridClientes
            [dataSource]="clientesDataSource"
            [showBorders]="true"
            [columnAutoWidth]="true"
            keyExpr="idCliente"
            [rowAlternationEnabled]="true"
            [showRowLines]="true"
            [hoverStateEnabled]="true">
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager 
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[5, 10, 20]"
                [showInfo]="true">
            </dxo-pager>

            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-export 
                [enabled]="true"
                [printingEnabled]="true">
            </dxo-export>

            <!-- <dxo-editing 
                mode="popup"
                [allowAdding]="true"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [useIcons]="true">
                <dxo-popup
                    title="Información"
                    [showTitle]="true">
                </dxo-popup>
                
                <dxo-form>
                    <dxi-item itemType="group" [colSpan]="2">
                        <dxi-item dataField="idTecnico" [editorOptions]=" { disabled: true }"></dxi-item>
                        <dxi-item dataField="idUsuario" >
                            <dxi-validation-rule type="required" message="Seleccione un usuario"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="nombre">
                            <dxi-validation-rule type="required"  message="Campo requerido"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="apellidoPaterno">
                            <dxi-validation-rule type="required"  message="Campo requerido"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="apellidoMaterno">
                            <dxi-validation-rule type="required"  message="Campo requerido"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="activo" [editorOptions]="{ disabled: true, value: true }"></dxi-item>
                    </dxi-item>
                </dxo-form>
            </dxo-editing> -->

            <dxi-column dataField="idCliente" dataType="number" [visible]="false" caption="No"></dxi-column>
            <dxi-column dataField="razonSocial" dataType="string"></dxi-column>
            <dxi-column dataField="nombres" caption="Nombre" dataType="string"></dxi-column>
            <dxi-column dataField="apellidoPaterno" caption="Ap.Paterno" dataType="string"></dxi-column>
            <dxi-column dataField="apellidoMaterno" caption="Ap.Materno" dataType="string"></dxi-column>
            <dxi-column dataField="rfc" dataType="string"></dxi-column>
            <dxi-column dataField="email" dataType="string"></dxi-column>
            <dxi-column dataField="activo" [visible]="false" caption="Activo" ></dxi-column>
            <dxi-column type="buttons">
                <dxi-button
                    hint="Ver Detalles"
                    icon="fas fa-search"
                    [onClick]="VerDetalleClick">
                </dxi-button>
                <dxi-button
                    hint="Editar"
                    icon="fas fa-user-edit"
                    [onClick]="EditarClick">
                </dxi-button>
                <dxi-button
                hint="Eliminar"
                icon="fas fa-user-times"
                [onClick]="EliminarClick">
            </dxi-button>            
            </dxi-column>
        </dx-data-grid>
    </div>
</div>



