<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Catálogo de Servicios</h6>
    </div>
    <div class="card-body">
        <dx-data-grid #targetGridServicios
            [dataSource]="serviciosDataSource"
            [showBorders]="true"
            [columnAutoWidth]="true"
            keyExpr="idServicio"
            [rowAlternationEnabled]="true"
            [showRowLines]="true"
            [hoverStateEnabled]="true">
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager 
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[5, 10, 20]"
                [showInfo]="true">
            </dxo-pager>

            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-export 
                [enabled]="true"
                [printingEnabled]="true">
            </dxo-export>

            <dxo-editing 
                mode="popup"
                [allowAdding]="true"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [useIcons]="true">
                <dxo-popup
                    title="Información"
                    [showTitle]="true">
                </dxo-popup>
            <dxo-form>
                <dxi-item itemType="group" [colSpan]="2">
                    <dxi-item dataField="idServicio" [editorOptions]="{ disabled: true }" ></dxi-item>
                    <dxi-item dataField="idTipoServicio">
                        <dxi-validation-rule type="required" message="Seleccione un tipo de servicio"></dxi-validation-rule>
                    </dxi-item>
                    <dxi-item dataField="servicio">
                        <dxi-validation-rule type="required" message="Campo requerido"></dxi-validation-rule>
                    </dxi-item>
                    <dxi-item dataField="activo" [editorOptions]="{ disabled: true, value: true }"></dxi-item>
                </dxi-item>
            </dxo-form>
            </dxo-editing>

            <dxi-column dataField="idServicio" dataType="number" [visible]="false" caption="No"></dxi-column>
            <dxi-column dataField="servicio" dataType="string" caption="Servicio"></dxi-column>
            <dxi-column 
                dataField="idTipoServicio" 
                dataType="string" 
                caption="Tipo Servicio">
                <dxo-lookup
                    [dataSource]="tiposServicio"
                    displayExpr="tipoServicio"
                    valueExpr="idTipoServicio">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="activo" [visible]="false" caption="Activo"></dxi-column>

        </dx-data-grid>
    </div>
</div>

<jw-modal id="eliminarModal">
    <div class="card m-1">
        <h1 class="card-header h5 text-gray-900 mb-2">Confirmación</h1>
        <div class="card-body">
            ¿Deseas dar de baja este servicio?
            <div class="text-right">
                <button class="btn btn-primary mr-1" (click)="eliminarServicio();">Guardar</button>
                <button class="btn btn-secondary" (click)="closeModal('eliminarModal');">Cancelar</button>
            </div>
        </div>
    </div>
</jw-modal>

<jw-modal id="guardarModal">
    <div class="card m-1">
        <h1 class="card-header h5 text-gray-900 mb-2">Confirmación</h1>
        <div class="card-body">
            ¿Deseas guardar la información?
            <div class="text-right">
                <button class="btn btn-primary mr-1" (click)="guardarServicio();">Guardar</button>
                <button class="btn btn-secondary" (click)="closeModal('guardarModal');">Cancelar</button>
            </div>
        </div>
    </div>
</jw-modal>

<jw-modal id="servicioModal">
    <div class="card m-auto">
        <h1 class="card-header h5 text-gray-900 mb-2">Información del Servicio</h1>
        <div class="card-body">
            <form [formGroup]="servicioForm" (ngSubmit)="guardarServicio()">
                <div class="form-group col-2">
                    <label>Id</label>
                    <input type="text" formControlName="idServicio" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label>Servicio</label>
                    <input type="text" formControlName="servicio" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.servicio.errors }">
                    <div *ngIf="submitted && f.servicio.errors" class="invalid-feedback">
                        <div *ngIf="f.servicio.errors.required">El servicio es requerido</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tipo Servicio</label>
                    <select formControlName="idTipoServicio" 
                            [ngClass]="{ 'is-invalid': submitted && f.idTipoServicio.errors }"
                        class="form-control">
                        <option *ngFor="let item of tiposServicio" [ngValue]="item">{{ item.tipoServicio }}</option>
                    </select>
                    <div *ngIf="submitted && f.idTipoServicio.errors" class="invalid-feedback">
                        <div *ngIf="f.idTipoServicio.errors.required">Selecciona un tipo sertivio</div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Activo</label>
                    <input type="checkbox" formControlName="activo" class="form-control" disabled
                        [ngClass]="{ 'is-invalid': submitted && f.activo.errors }">
                    <div *ngIf="submitted && f.activo.errors" class="invalid-feedback">
                        <div *ngIf="f.activo.errors.required">Active o desactive</div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1">Guardar</button>
                    <button class="btn btn-secondary" type="reset" (click)="cancelar();">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</jw-modal>